.venv
__pycache__
*.pyc
*.pyo
*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache

.git
.github
.gitignore

.env
*.env

.DS_Store
.idea
.vscode

# Documentation and tests not needed in production image
docs
*.md
tests
